# Logs
*.log\


# dotenv environment variables file
.env

# Node modules
node_modules/

# Any logs created
*.log
*.stackdump

# IDE settings
.idea/*
.vscode/

# NPM Dist
dist/

# Keep IntelliJ Project Setting Files
!.idea/codeStyles/
!.idea/inspectionProfiles/
!.idea/runConfigurations/
!.idea/misc.xml
!.idea/modules.xml
!.idea/nintendo-switch-eshop.iml
!.idea/typescript-compiler.xml
!.idea/vcs.xml
