
# dependencies
node_modules

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build Artifacts
dist/
*.zip
*.tar
*.tar.xz
*.tar.gz
*.7z
*.rar
tsconfig.tsbuildinfo

# Logs
logs/
coverage/
*.log*

# IDE Settings
.idea/
.vs/
*.iml